/* Style for every item in the list */

.item-container {
    min-height: 30px;
    background-color: #1f6896;
    margin: 5px 0;
    padding: 4px 10px 4px 10px;
    display: flex;
    align-items:flex-end;
    border-radius: 7px;
    cursor: pointer;
    width: calc(50% - 10px); /* 2 items per column with a space of 10 px in the middle */
  }
  
  .item-text {
    color: white;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      overflow-wrap: anywhere; /* For items with long text, so that it flows downwards */
      text-align: left;
  }
  
  .remove-icon {
    color: white;
      width: 20px;
      height: 20px;
      margin: 5px;
  
  }
  
  /* Special styling for when an item is marked as "purchased".*/
  
  .item-container.purchased {
    background-color: #838383;
    text-decoration: line-through;
  }
  
  @media (max-width: 767px) {
    .item-container {
      width: 95%; /* each item occupies 95% of the container width to align with the form */
      
    }
  }