.mi-openList {
    background-color: rgb(230, 196, 173);
    padding: 20px;
    text-align: center;
  }
  
  /* Media query para pantallas pequeñas */
  @media (max-width: 767px) {
    .mi-openList {
      background-color: rgb(3, 25, 223);
      padding: 10px;
      text-align: left;
    }
  }