/* Estilos para pantallas grandes */
.mi-componente {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }
  
  /* Media query para pantallas pequeñas */
  @media (max-width: 767px) {
    .mi-componente {
      background-color: lightcoral;
      padding: 10px;
      text-align: left;
    }
  }